body {
    background: url("../img/backgrounds/2191_00382.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.countdown img {
    width: 30%;
    margin-bottom: 5%;
    position: relative;
    left: 70%;
    transition: left 1s ease-out;
}

.countdown img.active {
    left: 0;
}

section.countdown.active {
    opacity: 1;
}

section.countdown {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding-top: 4%;
    margin-bottom: 5%;
    margin-top: 15vh;
    height: 72vh;
    width: 70%;
    margin-left: 15%;
    background-color: var(--tertiary);
    border-radius: var(--border);
}

section div.counter.active {
    opacity: 1;
}

section div.counter {
    transition: opacity 1s ease-out;
    opacity: 0;
    position: relative;
    width: 95%;
    background-color: #3E3E3E;
    height: 180px;
    border-radius: var(--border);
}

.counter div {
    position: absolute;
}

.counter .note {
    top: 10%;
    color: white;
    background-color: #9A0000;
    padding: 0.2% 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.counter .display {
    background-color: black;
    border: 1px solid white;
    height: 35%;
    top: 35%;
    color: #D85B2B;
    font-family: 'digital-clock-font';
    font-size: 4em;
    width: 8%;
    text-align: center;
}

.display.year {
    left: 2%;
    width: 15%;
}

.display.month {
    left: 25%;
    width: 12%;
}

.display.day {
    left: 45%;
}

.display.hour {
    left: 60%;
}

.display.min {
    left: 75%;
}

.display.sec {
    left: 90%;
}

.note.year {
    left: 7%;
}

.note.month {
    left: 27%;
}

.note.day {
    left: 46.5%;
}

.note.hour {
    left: 60.5%;
}

.note.min {
    left: 76.9%;
}

.note.sec {
    left: 91.5%;
}

.counter .leds div {
    height: 25%;
    width: 40%;
    border-radius: 100%;
    background-color: #EBE7A8;
}

.counter .leds {
    position: relative;
    top: 41%;
    height: 25%;
    width: 2.5%;
}

.counter .leds > div:first-child {
    top: 50%;
}

.counter .leds.hour-min {
    left: 71%;
}

.counter .leds.min-sec {
    left: 86%;
    top: 17%;
}

.counter .estreno {
    background-color: black;
    color: white;
    text-align: center;
    width: 10%;
    left: 35%;
    top: 80%;
    width: 30%;
    font-size: 1.5em;
}

@font-face{
    font-family:'digital-clock-font';
    src: url('../fonts/digital-7.ttf');
}