body {
    --primary:#E3421F;
    --secondary:#F7E900;
    --tertiary: #1c1c1c;
    --border: 15px;
    margin: 0;
    padding: 0;
    background-color: var(--tertiary);
    overflow-x: hidden;
}

section {
    width: 100vw;
    height: 100vh;
}

.flex,.flex-column,.flex-end {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

a.no-style {
    text-decoration: none;
}

.text-white {
    color: white;
}

input,textarea {
    padding: 1em 1em;
    font: inherit;
    color: white;
    background: none;
    border: 2px solid var(--secondary);
}

input:hover,textarea:hover {
    border:2px solid var(--primary);
}

input:focus,textarea:focus {
    outline: none;
    border:2px solid var(--primary);
    box-shadow: 0 0 15px var(--primary);
}

button:hover,
button:focus {
    box-shadow: inset 8em 0 var(--primary);
}

button {
    color: var(--secondary);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

button:hover, .btn:focus {
    border-color: var(--primary);
    color: white;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

.display-none, section.display-none {
    display: none;
}

nav {
    position: fixed;
    z-index: 100;
}

nav button.hamburger-menu.active {
    margin-left: 40%;
}

nav button.hamburger-menu {
    transition: margin-left 1s ease-out;
    margin-top: 0.5%;
    margin-left: -5vw;
    color: var(--primary);
    font-size: 2.5em;
}

nav button.hamburger-menu,nav .menu button {
    box-shadow: none;
    color: var(--primary);
}

nav button {
    all: unset;
    cursor: pointer;
}

nav .menu button {
    top: 1%;
    right: 10%;
    font-size: 1.3em;
    position: absolute;
}

nav .menu {
    top: 0;
    left: 0;
    z-index: 101;
    background-color: var(--secondary);
    position: fixed;
    color:var(--primary);
    height: 100vh;
    width: 15vw;
    position: absolute;
    -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
    transition: left .3s ease-out;
}

nav .menu.inactive {
    left: -15vw;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

nav ul {
    list-style: none;
    font-size: 1.3em;
}

nav ul li {
    margin-bottom: 5%;
}

nav a:link,nav a:visited,nav a:active {
    text-decoration:none;
    color: var(--primary);
}

section.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

section.none {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.hero div {
    position: absolute;
    background-repeat: repeat-x;
    background-size: cover;
}

.stars {
    background: url("../img/parallax/stars.png");
    width: 100%;
    height: 100%;
    animation: animar-stars 290s linear infinite;
}

.terminado .stars, .terminado .sol, .terminado .mountains, .terminado .grid, .terminado .reflection {
    animation-play-state: paused;
}

.grid {
    background: url("../img/parallax/grid.png");
    background-size: 80vw 100vh;
    transform: rotateX(45deg);
    width: 100%;
    height: 70%;
    top: 60%;
    animation: animar-grid 8s linear infinite;
}

.mountains {
    background: url("../img/parallax/mountains.png");
    width: 100%;
    height: 35%;
    top: 35%;
    animation: animar-mountains 18s linear infinite;
}

.hero div.iluminacion {
    background: url("../img/parallax/iluminacionTransparente.png");
    width: 100%;
    height: 55%;
    background-size: contain;
    top: -6%;
}

.sol {
    background: url("../img/parallax/sol.png");
    width: 446px;
    height: 297.5px;
    background-size: auto 45vh;
    left: 50%;
    top: 12%;
    animation: centrar-sol 10s linear;
    transform: translateX(-40%);
}

.reflection {
    background: url("../img/parallax/reflection.png");
    width: 332px;
    height: 287px;
    top: 65%;
    left: 54%;
    animation: centrar-sol 10s linear;
    transform: translateX(-40%);
}

.fire {
    position: relative;
    left: 78%;
    top: 83%;
    width: 302px;
    height: 57px;
    overflow: hidden;
}

.fire div {
    position: relative;
    background: url("../img/parallax/fireLine.png");
    width: 302px;
    height: 57px;
    left: -302px;
}

.fire.active div {
    left: 0;
    transition: left .5s linear;
}

section.hero .delorean {
    top: 80%;
    position: absolute;
    background: url("../img/parallax/delorean.png");
    background-size: cover;
    width: 270px;
    height: 97.2px;
}

section.hero .delorean .wheel {
    position: absolute;
    background: url("../img/parallax/wheel.png");
    background-size: cover;
    width: 13.22%;
    height: 36.41%;
    animation: girar-wheel 1s linear infinite;
}

section.hero .delorean .wheel:first-of-type {
    top: 53.2%;
    left: 17.8%;
}

section.hero .delorean .wheel:last-of-type {
    top: 53.2%;
    left: 70%;
}

section.hero.terminado .delorean {
    animation: carga-terminada 1s linear;
    transform: translateX(65vw);
    opacity: 0;
}

@keyframes carga-terminada {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    99% {
        transform: translateX(65vw);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.smoke {
    opacity: 0;
    background: url("../img/parallax/smoke.png");
    background-size: cover;
    width: 172.8px;
    height: 256px;
    top: 53%;
    left: 67%;
    transition: opacity .4s linear;
}

.smoke.active {
    animation: animacion-humo .4s linear;
}

@keyframes animacion-humo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes girar-wheel {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes centrar-sol {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-40%);
    }
}

@keyframes animar-grid {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -5000px;
    }
}

@keyframes animar-mountains {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -2272px;
    }
}

@keyframes animar-stars {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -2600px;
    }
}

.terminado .div-glitch {
    opacity: 0;
    transition: opacity 1s;
}

.div-glitch .circulo {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: white;
    top: 48%;
    border-radius: 15px;
}

.div-glitch .circulo:nth-last-of-type(1) {
    animation: animar-punto1 1.3s ease-out infinite;
    left: 102%;
}

.div-glitch .circulo:nth-last-of-type(2) {
    animation: animar-punto2 1.3s ease-out infinite;
    left: 112%;
}

.div-glitch .circulo:nth-last-of-type(3) {
    animation: animar-punto3 1.3s ease-out infinite;
    left: 122%;
}

@keyframes animar-punto1 {
    0% {
        transform: scale(0)
    }
    30% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    100%{
        transform: scale(0)
    }
}

@keyframes animar-punto2 {
    0% {
        transform: scale(0)
        
    }
    30% {
        transform: scale(0)
    }
    60% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    100%{
        transform: scale(0)
    }
}

@keyframes animar-punto3 {
    0% {
        transform: scale(0)
    }
    60% {
        transform: scale(0);
    }
    90% {
        transform: scale(1);
    }
    100%{
        transform: scale(0)
    }
}

.center__text {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
}

.glitch {
    position: relative;
    color: white;
    mix-blend-mode: lighten;
}

.glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: black;
    clip: rect(0, 0, 0, 0);
}

.glitch:before {
    left: -1px;
    text-shadow: 1px 0 rgba(255, 0, 0, 0.7);
}

.glitch:after {
    left: 1px;
    text-shadow: -1px 0 rgba(0, 0, 255, 0.7);
}

.glitch:before {
    text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
    animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
}

.glitch:after {
    text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
    animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
}

@-webkit-keyframes glitch-loop-1 {
    0% {
        clip: rect(36px, 9999px, 9px, 0);
    }
    25% {
        clip: rect(25px, 9999px, 99px, 0);
    }
    50% {
        clip: rect(50px, 9999px, 102px, 0);
    }
    75% {
        clip: rect(30px, 9999px, 92px, 0);
    }
    100% {
        clip: rect(91px, 9999px, 98px, 0);
    }
}

@keyframes glitch-loop-1 {
    0% {
        clip: rect(36px, 9999px, 9px, 0);
    }
    25% {
        clip: rect(25px, 9999px, 99px, 0);
    }
    50% {
        clip: rect(50px, 9999px, 102px, 0);
    }
    75% {
        clip: rect(30px, 9999px, 92px, 0);
    }
    100% {
        clip: rect(91px, 9999px, 98px, 0);
    }
}

@-webkit-keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(65px, 9999px, 119px, 0);
    }
    25% {
        top: -6px;
        left: 4px;
        clip: rect(79px, 9999px, 19px, 0);
    }
    50% {
        top: -3px;
        left: 2px;
        clip: rect(68px, 9999px, 11px, 0);
    }
    75% {
        top: 0px;
        left: -4px;
        clip: rect(95px, 9999px, 53px, 0);
    }
    100% {
        top: -1px;
        left: -1px;
        clip: rect(31px, 9999px, 149px, 0);
    }
}

@keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(65px, 9999px, 119px, 0);
    }
    25% {
        top: -6px;
        left: 4px;
        clip: rect(79px, 9999px, 19px, 0);
    }
    50% {
        top: -3px;
        left: 2px;
        clip: rect(68px, 9999px, 11px, 0);
    }
    75% {
        top: 0px;
        left: -4px;
        clip: rect(95px, 9999px, 53px, 0);
    }
    100% {
        top: -1px;
        left: -1px;
        clip: rect(31px, 9999px, 149px, 0);
    }
}