body {
    --primary:#E3421F;
    --secondary:#F7E900;
    --tertiary: #1c1c1c;
    --border: 15px;
    --disabled: #c9c9c9;
    margin: 0;
    padding: 0;
    background-color: var(--tertiary);
    overflow-x: hidden;
    font-family: system-ui,Arial, Helvetica, sans-serif;
}

.separador {
    width: 100vw;
    height: 25vh;
    background-color: var(--tertiary);
    position: relative;
}

.separador .delorean {
    position: absolute;
    top: 25%;
    left: -17%;
    width: 225px;
    height: 81px;
    background: url("../img/delorean.png");
    background-size: cover;
}

footer {
    background-color: var(--tertiary);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

footer .content {
    margin: 5% 10% 0 5%
}

footer img {
    width: 40%;
    height: auto;
}

section {
    width: 100vw;
    height: 100vh;
}

.flex,.flex-column,.flex-end {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

a.no-style {
    text-decoration: none;
}

.text-white {
    color: white;
}

input,textarea {
    padding: 1em 1em;
    font: inherit;
    color: white;
    background: none;
    border: 2px solid var(--secondary);
}

input:hover,textarea:hover {
    border:2px solid var(--primary);
}

input:focus,textarea:focus {
    outline: none;
    border:2px solid var(--primary);
    box-shadow: 0 0 15px var(--primary);
}

button:hover,
button:focus {
    box-shadow: inset 8em 0 var(--primary);
}

button {
    width: 130px;
    color: var(--secondary);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

button:disabled {
    border-color: var(--disabled);
    color: var(--disabled);
}

button:disabled:hover,
button:disabled:focus {
    border-color: var(--disabled);
    color: var(--disabled);
    box-shadow: none;
}

button:hover, .btn:focus {
    border-color: var(--primary);
    color: white;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

.display-none, section.display-none {
    display: none;
}

header.active {
    top: 0;
}

header {
    background-color: var(--tertiary);
    position: fixed;
    transition: top 1s ease-out;
    z-index: 100;
    top: -10vh;
    height: 10vh;
    width: 100%;
}

nav button.hamburger-menu {
    margin: 0% 0 0.5% 1%;
    color: white;
    font-size: 2.5em;
}

nav button.hamburger-menu,nav .menu button {
    box-shadow: none;
    color: white
}

nav button {
    all: unset;
    cursor: pointer;
}

nav .menu button {
    top: 1%;
    right: 10%;
    font-size: 1.3em;
    position: absolute;
}

nav .menu {
    top: 0;
    left: 0;
    z-index: 101;
    background-color: var(--tertiary);
    position: fixed;
    color: white;
    height: 100vh;
    width: 15vw;
    position: absolute;
    -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.75);
    transition: left .3s ease-out;
}

nav .menu.inactive {
    left: -15vw;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

nav ul {
    list-style: none;
    font-size: 1.3em;
}

nav ul li {
    margin-bottom: 5%;
}

nav a:link,nav a:visited,nav a:active {
    text-decoration:none;
    color: white;
}

section.none {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.loader {
    background-color: var(--tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .spinner {
    position: relative;
    width: 30%;
    height: 60%;
}

.loader .spinner .circle {
    position: absolute;
    background-color: white;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    transform: scale(0);
    animation: animated-circle 2s linear infinite;
}

.loader .spinner .circle:nth-of-type(1) {
    left: 42.5%;
    animation-delay: 0.25s;
}

.loader .spinner .circle:nth-of-type(2) {
    left: 72%;
    top: 13%;
    animation-delay: 0.5s;
}

.loader .spinner .circle:nth-of-type(3) {
    left: 83%;
    top: 42%;
    animation-delay: 1s;
}

.loader .spinner .circle:nth-of-type(4) {
    left: 72%;
    top: 70%;
    animation-delay: 1s;
}

.loader .spinner .circle:nth-of-type(5) {
    left: 42.5%;
    top: 82%;
    animation-delay: 1.25s;
}

.loader .spinner .circle:nth-of-type(6) {
    left: 11%;
    top: 70%;
    animation-delay: 1.5s;
}

.loader .spinner .circle:nth-of-type(7) {
    top: 42%;
    animation-delay: 1.75s;
}

.loader .spinner .circle:nth-of-type(8) {
    left: 11%;
    top: 13%;
    animation-delay: 2s;
}

@keyframes animated-circle {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}