@keyframes correr {
    0% {
        background-image: url("./img/1.png");
    }
    10% {
        background-image: url("./img/2.png");
    }
    20% {
        background-image: url("./img/3.png");
    }
    30% {
        background-image: url("./img/4.png");
    }
    40% {
        background-image: url("./img/4.png");
    }
    50% {
        background-image: url("./img/5.png");
    }
    60% {
        background-image: url("./img/6.png");
    }
    70% {
        background-image: url("./img/7.png");
    }
    80% {
        background-image: url("./img/8.png");
    }
    90% {
        background-image: url("./img/9.png");
    }
    100% {
        background-image: url("./img/10.png");
    }
}

.spritesheet {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.correr {
    animation-name: correr;
} 

.caminar {
    background-image: url("./img/walk-right.png");
    height: 148px;
    width: 102px;
    background-size: cover;
    animation-name: correr2;
    animation-duration: 1s;
    animation-timing-function: steps(6);
}

@keyframes correr2{
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -612px;
    }
}